body {
    font: 16px/1.2 Source Sans Pro, sans-serif;
    padding: 0;
    margin: 0;
    min-width: 320px;
    background: #fff4f0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.text{ 
text-align: center;}
/* TODO fix format */

.nav-menu {
    background-color: white;
    box-shadow: 0px 0px 10px 0px #383636;
    

}/* TODO remove spaces */

.nav-menu-list li,
a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
    
}/* TODO remove spaces */

.checkbox {
    cursor: pointer;
    margin-left: 30px;
}

.checkbox:checked~.nav-menu-list {
    display: block;
}

#checkbox {
    display: none;
}



/* TODO remove spaces */
label:hover,
a:hover {
    color: green;
    font-weight: bold;
}


/* TODO remove spaces */
.nav-menu-list {
    display: block;
}

@media (max-width: 768px) {

    .nav-menu-list {/* TODO remove spaces */
        display: none;
    }


}/* TODO remove spaces */


    @media (min-width: 768px) {
    
        span {
        color:white;
    }

    }/* TODO fix format */
