body {
    font: 16px/1.2 Source Sans Pro, sans-serif;
    padding: 0;
    margin: 0;
    min-width: 320px;
    background: #fff4f0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}


.nav-menu {
    background-color: white;
    box-shadow: 0px 0px 10px 0px #383636;
    /* text-align: right; */

}

.nav-menu-list li, a{
display: inline-flex;
padding: 10px;
text-decoration: none;
color:black;

}

.checkbox {
    cursor: pointer;
    margin-left: 30px;
}

.checkbox:checked ~ .nav-menu-list {
    display: block;
}

#checkbox{
    display: none;
}


label:hover, a:hover {
    color: green;
    font-weight: bold;
}

.checkbox:checked ~ .nav-list-menu {
    display: none;
}


@media (max-width: 768px) {

    .nav-menu-list{
        display: none;
    }


    

   



}


